{% extends "baseBackOffice.html.twig" %}

{% block title %}Services{% endblock %}
{% block body %}


            <div class="details" style="align: center; margin-top: 20px">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Service List</h2>
                    </div>

                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <td>Image</td>
                                <td>Title</td>
                                <td>Category</td>
                                <td>Barter</td>
                                <td>Actions</td>
                            </tr>
                        </thead>

                        <tbody>
                        {% for service in pagination %}
                            <tr>
                                
                                 	<div class="d-flex">
                                    <td>
											<img src="{{ asset('uploads/services/' ~ service.photo) }}" alt="" class="rounded-image" >
                                    </td>
									</div> 
                                
                                <td>{{ service.titreService }}</td>
                                <td>{{ service.categorie.nomCategorie }}</td>
                                <td>{{ service.utilisateur.nom ~ ' ' ~ service.utilisateur.prenom }}</td>
                                <td >
                                    <a href="{{ path('details_service',{id: service.id }) }}" style="margin-right: 10px; "><i class="fa-regular fa-eye" ></i></a>

                                    {% if service.valid == false %}
                                    <a href="{{ path('valider_service', { id: service.id }) }}"  style="margin-right: 10px; color: green; "><i class="fa-solid fa-check"></i></a>
                                    {% endif %}
                                    <a href="{{ path('suppression_service', { id: service.id }) }}"><i class="fa-regular fa-circle-xmark" style="color: red;"></i></a>
                                    
                                </td>
                                
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                 
                </div>
                
				    {{ knp_pagination_render(pagination) }}

            </div>


{% endblock %}

