{% extends "baseFrontOffice.html.twig" %}

{% block title %} Service Exchange List Index {% endblock %}

{% block body %}
    <h1>Service Exchange Index</h1>
    <div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Date Of Exchange</th>
                    <th>Valid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for echange_service in echange_services %}
                    <tr>
                        <td>{{ echange_service.id }}</td>
                        <td>{{ echange_service.dateEchange ? echange_service.dateEchange|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ echange_service.valide ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('app_echange_service_edit', {'id': echange_service.id}) }}">edit</a>
                        </td>
                        <td>   
                            <form method="post" action="{{ path('app_echange_produit_delete', {'id': echange_produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ echange_produit.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>  
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_echange_service_new') }}" class="btn btn-success">Create new</a>
    </div>
{% endblock %}
