{% extends "baseBackOffice.html.twig" %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <div class="details">
        <h2>Edit Category</h2><br><br>
        <div class="recentOrders">
            {{form_start(form.nomCategorie, {'attr': {'class': 'form-control', 'novalidate': 'novalidate'}}) }}
                {{ form_label(form.nomCategorie, "Change The Category Name", {'label_attr': {'class': 'form-label'}}) }}<br><br>
                {{ form_widget(form.nomCategorie, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nomCategorie, {'attr': {'class': 'form-error'}}) }}
                {{ form_widget(form.save, {'attr': {'class': 'btn-submit'}}) }}
            {{form_end(form)}}
            <div class="cardHeader">        
                <a href="{{ path('app_categorie_index') }}" class="btn" >back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
