
           
<div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Users </h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    


                      	<h3 class="font-weight-bold"> {{ app.session.get('user_name') }}</h3>
                         {{ app.session.get('user_email') }}
                           {{ app.session.get('user_phonenumber') }}
                              {{ app.session.get('user_address') }}
                                {{ app.session.get('user_score') }}           
                                    














                     </div>
                </div>